@use '../../styles/vars';

.projects {
  position: relative;

  &__container {
    grid-column: 1 / 5;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    grid-column: 1 / -1;
  }

  &__page {
    height: 10px;
    width: 10px;
    background-color: vars.$color-text;
    border-radius: 25px;
    margin: 0rem 0.625rem;
    cursor: pointer;

    &--active {
      background-color: vars.$color-blue;
    }
  }
}