@use '../../styles/vars';

.projects {
  position: relative;
  
  &__content {
    grid-column: 1 / -1;
    overflow: hidden;

    &-swiper {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__container {
    grid-column: 1 / 5;
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    grid-column: 1 / -1;
  }
}

.swiper {
  &-container {
    position: static;
  }

  &-pagination {
    position: static;
    margin-top: 30px;

    &-bullet {
      height: 10px;
      width: 10px;
      background-color: vars.$color-text;
      border-radius: 25px;

      &-active {
        background-color: vars.$color-blue;
      }
    }
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 10px;
}