@font-face {
  font-family: 'Calibre';
  src: url('../assets/fonts/CalibreRegular.otf');
  font-display: swap;
}

$color-background: #272822;
$color-background-light: #494A44;
$color-text: #B9B4A7;
$color-text-hover: rgba($color-text, 0.65);
$color-blue: #66D9EF;
$color-blue-hover: #58bdd1;
$color-red: #EB2672;
$color-green: #A6E22E;
$color-yellow: #E6D869;
$color-yellow-hover: #c4b75b;
$color-white: #F6F1E4;
$font-mono: 'Consolas', monospace;
$font-sans: 'Calibre', sans-serif;