@use '../../styles/vars';

.contact {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 4));
    grid-column: 1 / -1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
  }

  &__infos {
    grid-column: 3 / 5;
    margin-left: calc((100vw - 120px) / 6);

    &__email, &__tel {
        margin-bottom: 1.563rem;
      
        &__title {
        font-family: vars.$font-mono;
        font-size: 0.813rem;
        font-weight: bold;
        margin-bottom: 0.938rem;
      }
    }
  }
}