@use '../../styles/vars';

.contact {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-gap: 0rem;
    grid-column: 1 / -1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    
    &__paragraph {
      margin-bottom: 3.125rem;
    }
  }

  &__infos {
    grid-column: 4 / -1;

    &__email, &__tel {
        margin-bottom: 1.563rem;

        &__address, &__number {
          transition: 0.2s color;

          &:hover {
            color: vars.$color-text-hover;
          }
        }
      
        &__title {
        font-family: vars.$font-mono;
        font-size: 0.813rem;
        font-weight: bold;
        margin-bottom: 0.938rem;
      }
    }
  }
}