@use '../../styles/vars';

.fixed {
  &__socials {
    position: fixed;
    left: 3.75rem;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
  }

  &__social {
    margin-top: 0.938rem;

    a {
      svg {
        width: 1rem;
        height: 1rem;
        fill: vars.$color-text;
        transition: 0.2s fill;
  
        &:hover {
          fill: vars.$color-text-hover;
        }
      }
    }
  }

  &__contact {
    position: fixed;
    right: calc(-119px + 3.75rem);
    bottom: calc(117px + 3rem);
    font-family: vars.$font-mono;
    font-size: 0.813rem;
    transform: rotate(-90deg);

    &--blue {
      color: vars.$color-blue;
    }

    &--red {
      color: vars.$color-red;
    }

    &--yellow {
      color: vars.$color-yellow;
      transition: 0.2s color;

      &:hover {
        color: vars.$color-yellow-hover;
      }
    }
  }
}

@media all and (max-device-width: 480px) {
  .fixed {
    display: none;
  }
}